.code_input {
  width: 90%;
  margin: auto;
}

.code_input input {
  color: white !important;
  padding: 10px 12px 10px;
  font-size: 35px;
  text-align: center;
  max-width: 90%;
  font-weight: bold;
}

.code_input input::placeholder {
  color: white !important;
  font-weight: bold;
  background: linear-gradient(111deg, #5acfff, #fd66ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card_media {
  cursor: default;
  position: relative;
}
/*
.card_media:before {
  content: "";
  background-image: linear-gradient(
    45deg,
    rgb(130, 7, 115),
    rgb(28, 2, 108) 40%,
    rgb(0, 127, 152)
  );
  filter: blur(10px);
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
}
*/
.input_container {
  position: relative;
  border-radius: 10px !important;
}
